@model EcommerceProject.Models.Setting

@{
    ViewBag.Title = "List";
    Layout = "~/Views/Shared/_masterlayout.cshtml";
}
<head>
    <title>Premier Mart | Settings</title>
    <link rel="stylesheet" href="~/template/plugins/tempusdominus-bootstrap-4/css/tempusdominus-bootstrap-4.min.css">
    <link rel="stylesheet" href="~/template/plugins/icheck-bootstrap/icheck-bootstrap.min.css">
    <!-- jsGrid -->
    <!-- Tempusdominus Bootstrap 4 -->
    <link rel="stylesheet" href="~/template/plugins/jsgrid/jsgrid.min.css">
    <link rel="stylesheet" href="~/template/plugins/jsgrid/jsgrid-theme.min.css">
    <!-- overlayScrollbars -->
    <link rel="stylesheet" href="~/template/plugins/overlayScrollbars/css/OverlayScrollbars.min.css">
    <link rel="stylesheet" href="~/Styles/Service.css" />
</head>

<body>
    <!-- Content Header (Page header) -->
    <div class="content-header">
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-12">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="#">Settings</a></li>
                        <li class="breadcrumb-item active">General Setting</li>
                    </ol>
                </div><!-- /.col -->
            </div><!-- /.row -->
        </div><!-- /.container-fluid -->
    </div>
    <!-- /.content-header -->
  
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-header" style="background-color:darkgoldenrod; color:white;">
                        <center><h4>Store </h4></center>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-1"></div>
                            <div class="col-4">
                                <div class="form-group">
                                    <label for="name">Store Name</label>
                                    @Html.TextBoxFor(m => m.Store_name, new { @class = "form-control", @readonly = "readonly" })
                                </div>
                            </div>
                            <div class="col-1"></div>
                            <div class="col-4">
                                <div class="form-group">
                                    <label for="owner">Store Owner</label>
                                    @Html.TextBoxFor(m => m.Store_owner, new { @class = "form-control", @readonly = "readonly" })
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-1"></div>
                            <div class="col-9">
                                <div class="form-group">
                                    <label for="address">Address</label>
                                    @Html.TextAreaFor(m => m.Store_address, new { @class = "form-control" , @readonly = "readonly" })
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-1"></div>
                            <div class="col-4">
                                <div class="form-group">
                                    <label for="email">Email</label>
                                    @Html.TextBoxFor(m => m.Store_email, new { @class = "form-control", @readonly = "readonly" })
                                </div>
                            </div>
                            <div class="col-1"></div>
                            <div class="col-4">
                                <div class="form-group">
                                    <label for="phone">Phone Number</label>
                                    @Html.TextBoxFor(m => m.Store_telephone, new { @class = "form-control", @readonly = "readonly" })
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-1"></div>
                            <div class="col-4">
                                <div class="form-group">
                                    <label for="status">Status</label>
                                    @Html.TextBoxFor(m => m.Status.Status_name, new { @class = "form-control", @readonly = "readonly" })
                                </div>
                            </div>
                            <div class="col-1"></div>
                            <div class="col-4">
                                <div class="form-group">
                                    <label for="country">Country</label>
                                    @Html.TextBoxFor(m => m.Country.Country_name, new { @class = "form-control", @readonly = "readonly" })
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-1"></div>
                            <div class="col-4">
                                <div class="form-group">
                                    <label for="state">Region/State</label>
                                    @Html.TextBoxFor(m => m.Zone.Zone_name, new { @class = "form-control", @readonly = "readonly" })
                                </div>
                            </div>
                            <div class="col-1"></div>
                            <div class="col-4">
                                <div class="form-group">
                                    <label for="currency">Currency</label>
                                    @Html.TextBoxFor(m => m.Currency.Ctitle, new { @class = "form-control", @readonly = "readonly" })
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-1"></div>
                            <div class="col-4">
                                <div class="form-group">
                                    <label for="language">Language</label>
                                    @Html.TextBoxFor(m => m.Language.Lname, new { @class = "form-control", @readonly = "readonly" })
                                </div>
                            </div>
                            <div class="col-1"></div>
                            <div class="col-4">
                                <div class="form-group">
                                    <label for="mode">Maintenance Mode</label>
                                    @Html.TextBoxFor(m => m.Maintenance_mode, new { @class = "form-control", @readonly = "readonly" })
                                </div>
                            </div>
                        </div>

                      

                    </div>
                    <!-- /.card-body -->
                    <div class="card-footer">
                        <center>
                            <div class="col-2">
                                <button onclick="location.href='@Url.Action("List","DashBoard")'" type="button" class="btn btn-block btn-danger">
                                    <i class="fas fa-times" aria-hidden="true"></i> &nbsp;&nbsp;&nbsp;Cancel
                                </button>
                            </div>
                        </center>
                    </div>
                </div>
                <!-- /.card -->
            </div>
        </div>
        <!-- /.row -->

        <!-- jQuery UI 1.11.4 -->
        <script src="~/template/plugins/jquery-ui/jquery-ui.min.js"></script>
        <!-- Resolve conflict in jQuery UI tooltip with Bootstrap tooltip -->
        <script>
            $.widget.bridge('uibutton', $.ui.button)
        </script>
        <!-- Sparkline -->
        <script src="~/template/plugins/sparklines/sparkline.js"></script>
        <!-- Tempusdominus Bootstrap 4 -->
        <script src="~/template/plugins/tempusdominus-bootstrap-4/js/tempusdominus-bootstrap-4.min.js"></script>
        <!-- overlayScrollbars -->
        <script src="~/template/plugins/overlayScrollbars/js/jquery.overlayScrollbars.min.js"></script>
        <!-- AdminLTE dashboard demo (This is only for demo purposes) -->
        <script src="~/template/dist/js/pages/dashboard.js"></script>
        <!-- bs-custom-file-input -->
        <script src="~/template/plugins/bs-custom-file-input/bs-custom-file-input.min.js"></script>

    </body>
