@model IPagedList<EcommerceProject.Models.CancelOrder>

@{
    ViewBag.Title = "List";
    Layout = "~/Views/Shared/_masterlayout.cshtml";
}
@using PagedList.Mvc;
@using PagedList;

<head>
    <title>Premier Mart | Sales</title>
    <!-- Tempusdominus Bootstrap 4 -->
    <link rel="stylesheet" href="~/template/plugins/tempusdominus-bootstrap-4/css/tempusdominus-bootstrap-4.min.css">
    <!-- iCheck -->
    <link rel="stylesheet" href="~/template/plugins/icheck-bootstrap/icheck-bootstrap.min.css">
    <!-- jsGrid -->
    <link rel="stylesheet" href="~/template/plugins/jsgrid/jsgrid.min.css">
    <link rel="stylesheet" href="~/template/plugins/jsgrid/jsgrid-theme.min.css">
    <!-- overlayScrollbars -->
    <link rel="stylesheet" href="~/template/plugins/overlayScrollbars/css/OverlayScrollbars.min.css">
    <link rel="stylesheet" href="~/Styles/Service.css" />
    <link href="~/Content/PagedList.css" rel="stylesheet" />
</head>

<body>

    <!-- Content Header (Page header) -->
    <div class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-3">
                </div><!-- /.col -->
                <div class="col-sm-9">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="#">Sales</a></li>
                        <li class="breadcrumb-item active">Cancel Orders</li>
                    </ol>
                </div><!-- /.col -->
            </div><!-- /.row -->
        </div><!-- /.container-fluid -->
    </div>
    <!-- /.content-header -->
    <br />
    <div class="card">
        <div class="row">
            <div class="col-12">

                <div class="card-body table-responsive p-0">
                    <table class="table table-bordered table-hover text-nowrap">
                        <thead style="background-color:rosybrown; color:white">
                            <tr>
                                <th>Order-No</th>
                                <th>Customer Name</th>
                                <th>Total</th>
                                <th>Reason</th>
                                <th>Remarks</th>
                            </tr>
                        </thead>
                        <tbody>                         
                                @foreach (var item in Model)
                                {
                                    <tr>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Order_id)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Name)
                                        </td>
                                        <td>
                                            $ @Html.DisplayFor(modelItem => item.Total)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Reason)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Remarks)
                                        </td>                                      
                                    </tr>
                                }                            
                        </tbody>
                    </table>
                </div>

                <div class="card-footer clearfix">
                    <ul class="pagination pagination-sm m-0 float-right">
                        @Html.PagedListPager(Model, i => Url.Action("List", "CancelOrder", new { i, search = Request.QueryString["searching"] }))
                    </ul>
                </div>

            </div>
        </div>
        <!-- /.row -->
    </div>
    <!-- /.card -->
    <br />

    
    <!-- jQuery UI 1.11.4 -->
    <script src="~/template/plugins/jquery-ui/jquery-ui.min.js"></script>
    <!-- Resolve conflict in jQuery UI tooltip with Bootstrap tooltip -->
    <script>
        $.widget.bridge('uibutton', $.ui.button)
    </script>
    <!-- Tempusdominus Bootstrap 4 -->
    <script src="~/template/plugins/tempusdominus-bootstrap-4/js/tempusdominus-bootstrap-4.min.js"></script>
    <!-- overlayScrollbars -->
    <script src="~/template/plugins/overlayScrollbars/js/jquery.overlayScrollbars.min.js"></script>
    <!-- AdminLTE dashboard demo (This is only for demo purposes) -->
    <script src="~/template/dist/js/pages/dashboard.js"></script>
    <!-- bs-custom-file-input -->
    <script src="~/template/plugins/bs-custom-file-input/bs-custom-file-input.min.js"></script>

</body>