@model IPagedList<EcommerceProject.Models.Product>

@{
    ViewBag.Title = "List";
    Layout = "~/Views/Shared/_masterlayout.cshtml";
    var prod = Model.Count();
    Session["pro"] = prod;
}
@using PagedList.Mvc;
@using PagedList;

<head>
    <title>Premier Mart | Catalog</title>
    <!-- Tempusdominus Bootstrap 4 -->
    <link rel="stylesheet" href="~/template/plugins/tempusdominus-bootstrap-4/css/tempusdominus-bootstrap-4.min.css">
    <!-- iCheck -->
    <link rel="stylesheet" href="~/template/plugins/icheck-bootstrap/icheck-bootstrap.min.css">
    <!-- jsGrid -->
    <link rel="stylesheet" href="~/template/plugins/jsgrid/jsgrid.min.css">
    <link rel="stylesheet" href="~/template/plugins/jsgrid/jsgrid-theme.min.css">
    <!-- overlayScrollbars -->
    <link rel="stylesheet" href="~/template/plugins/overlayScrollbars/css/OverlayScrollbars.min.css">
    <link rel="stylesheet" href="~/Styles/Service.css" />
    <link href="~/Content/PagedList.css" rel="stylesheet" />
</head>

<body>    
    <!-- Content Header (Page header) -->
    <div class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-3">
                    <button onclick="location.href='@Url.Action("Create","Product")'" type="button" class="btn btn-block btn-success">
                        <i class="fa fa-plus" aria-hidden="true"></i> &nbsp;&nbsp;&nbsp;Add Product
                    </button>

                </div><!-- /.col -->
                <div class="col-sm-9">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="#">Catalog</a></li>
                        <li class="breadcrumb-item active">Product List</li>
                    </ol>
                </div><!-- /.col -->
            </div><!-- /.row -->
        </div><!-- /.container-fluid -->
    </div>
    <!-- /.content-header -->
    <br />
    <div class="card">
        <div class="row">
            <div class="col-12">
                <div class="card-body table-responsive p-0">
                    <table class="table table-bordered table-hover text-nowrap">
                        <thead style="background-color:forestgreen; color:white">
                            <tr>
                                <th>Image</th>
                                <th>SKU</th>
                                <th>Product Name</th>
                                <th>Price</th>
                                <th>Is Feature</th>
                                <th>Today Deals</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            @if (Model.Count() == 0)
                            {
                                <tr>
                                    <td colspan="7" style="color:red" align="center">
                                        Records Not Found
                                    </td>
                                </tr>
                            }
                            else
                            {
                                foreach (var item in Model)
                                {                                    
                                    <tr>
                                        <td>
                                            <img src="@Url.Content(item.Image)" height="50" width="50" />
                                        </td>
                                        <td>
                                            &nbsp; @Html.DisplayFor(modelItem => item.SKU) <br />
                                            @if (item.Is_active == 1)
                                            {
                                                <span class="tag-active" style="width: 71px; display: inline-block; padding: 5px 15px; border-radius: 20px;">Active</span>
                                            }
                                            else if (item.Is_active == 0)
                                            {
                                                <span class="tag-inactive" style="width: 93px; display: inline-block; padding: 5px 15px; border-radius: 20px;">In - Active</span>
                                            }

                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Name)
                                        </td>
                                        <td>
                                            $ @Html.DisplayFor(modelItem => item.Price)
                                        </td>
                                        <td>
                                            @*@Html.DisplayFor(modelItem => item.Is_feature)*@
                                            @if (item.Is_feature == 1)
                                            {
                                                <div class="form-group">
                                                    <center>
                                                        <div class="custom-control custom-switch custom-switch-off custom-switch-on-primary">
                                                            <input type="checkbox" class="custom-control-input" id="customSwitch3" checked>
                                                            <label class="custom-control-label" for="customSwitch3"></label>
                                                        </div>
                                                    </center>
                                                </div>
                                            }
                                            else if (item.Is_feature == 0)
                                            {
                                                <div class="form-group">
                                                    <center>
                                                        <div class="custom-control custom-switch custom-switch-off custom-switch-on-primary">
                                                            <input type="checkbox" class="custom-control-input" id="customSwitch3">
                                                            <label class="custom-control-label" for="customSwitch3"></label>
                                                        </div>
                                                    </center>
                                                </div>

                                            }
                                        </td>
                                        <td>
                                            @*@Html.DisplayFor(modelItem => item.Today_deals)*@
                                            @if (item.Today_deals == 1)
                                            {
                                                <div class="form-group">
                                                    <center>
                                                        <div class="custom-control custom-switch custom-switch-off custom-switch-on-primary">
                                                            <input type="checkbox" class="custom-control-input" id="customSwitch" checked>
                                                            <label class="custom-control-label" for="customSwitch"></label>
                                                        </div>
                                                    </center>
                                                </div>
                                            }
                                            else if (item.Today_deals == 0)
                                            {
                                                <div class="form-group">
                                                    <center>
                                                        <div class="custom-control custom-switch custom-switch-off custom-switch-on-primary">
                                                            <input type="checkbox" class="custom-control-input" id="customSwitch">
                                                            <label class="custom-control-label" for="customSwitch"></label>
                                                        </div>
                                                    </center>
                                                </div>

                                            }

                                        </td>
                                        <td>
                                            <a href="@Url.Action("Edit", "Product", new { id = item.Product_id })"><i class="fas fa-pencil-alt"></i></a>
                                            <a href="@Url.Action("Delete", "Product", new { id = item.Product_id })"><i class="fas fa-trash"></i></a>
                                        </td>
                                    </tr>
                                }
                            }
                        </tbody>
                    </table>
                </div>
                <!-- /.card-body -->
                <div class="card-footer clearfix">
                    <ul class="pagination pagination-sm m-0 float-right">
                        @Html.PagedListPager(Model, i => Url.Action("List", "Product", new { i, search = Request.QueryString["searching"] }))
                    </ul>
                </div>

            </div>
        </div>
        <!-- /.row -->
    </div>
    <!-- /.card -->

    <br />

    @using (Html.BeginForm("List", "Product", FormMethod.Get))
    {
        <div class="card">
            <br />
            <div class="row">
                <div class="col-sm-2">
                    <p> <b>&nbsp;Filter Records</b> </p>
                </div>
                <div class="col-sm-5">
                    <p>
                        Product Name :
                        @Html.TextBox("searching")
                    </p>
                </div>
                <div class="col-sm-5">
                    <p>
                        Status :
                        @Html.TextBox("st")
                    </p>
                </div>
            </div>

            <center>
                <input type="submit" value="Search" class="btn-primary" />
            </center>

            <br />
        </div>
    }

    <!-- jQuery UI 1.11.4 -->
    <script src="~/template/plugins/jquery-ui/jquery-ui.min.js"></script>
    <!-- Resolve conflict in jQuery UI tooltip with Bootstrap tooltip -->
    <script>
        $.widget.bridge('uibutton', $.ui.button)
    </script>
    <!-- Tempusdominus Bootstrap 4 -->
    <script src="~/template/plugins/tempusdominus-bootstrap-4/js/tempusdominus-bootstrap-4.min.js"></script>
    <!-- overlayScrollbars -->
    <script src="~/template/plugins/overlayScrollbars/js/jquery.overlayScrollbars.min.js"></script>
    <!-- AdminLTE dashboard demo (This is only for demo purposes) -->
    <script src="~/template/dist/js/pages/dashboard.js"></script>
    <!-- bs-custom-file-input -->
    <script src="~/template/plugins/bs-custom-file-input/bs-custom-file-input.min.js"></script>

</body>