@model IPagedList<EcommerceProject.Models.Lead>

@{
    ViewBag.Title = "List";
    Layout = "~/Views/Shared/_masterlayout.cshtml";
}
@using PagedList.Mvc;
@using PagedList;
<head>
    <title>Premier Mart | Services</title>
    <!-- Tempusdominus Bootstrap 4 -->
    <link rel="stylesheet" href="~/template/plugins/tempusdominus-bootstrap-4/css/tempusdominus-bootstrap-4.min.css">
    <!-- jsGrid -->
    <link rel="stylesheet" href="~/template/plugins/jsgrid/jsgrid.min.css">
    <link rel="stylesheet" href="~/template/plugins/jsgrid/jsgrid-theme.min.css">
    <!-- overlayScrollbars -->
    <link rel="stylesheet" href="~/template/plugins/overlayScrollbars/css/OverlayScrollbars.min.css">
    <link href="~/Content/PagedList.css" rel="stylesheet" />
</head>

<body>
    <!-- Content Header (Page header) -->
    <div class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-12">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="#">Services</a></li>
                        <li class="breadcrumb-item active">Leads</li>
                    </ol>
                </div><!-- /.col -->
            </div><!-- /.row -->
        </div><!-- /.container-fluid -->
    </div>
    <!-- /.content-header -->
  
    <br />
    <div class="card">
        <div class="row">
            <div class="col-12">

                <div class="card-body table-responsive p-0">
                    <table class="table table-bordered table-hover text-nowrap">
                        <thead style="background-color:crimson; color:white">
                            <tr>
                                <th>Name</th>
                                <th>Email</th>
                                <th>Mobile-No</th>
                            </tr>
                        </thead>
                        <tbody>
                            @if (Model.Count() == 0)
                            {
                                <tr>
                                    <td colspan="3" style="color:red" align="center">
                                        Records Not Found
                                    </td>
                                </tr>
                            }
                            else
                            {
                                foreach (var item in Model)
                                {
                                    <tr>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.L_name)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Email)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Mobile_no)
                                        </td>
                                    </tr>
                                }
                            }
                        </tbody>
                    </table>
                </div>
                <!-- /.card-body -->
                <div class="card-footer clearfix">
                    <ul class="pagination pagination-sm m-0 float-right">
                        @Html.PagedListPager(Model, i => Url.Action("List", "Lead", new { i, search = Request.QueryString["searching"] }))
                    </ul>
                </div>
            </div>
        </div>
        <!-- /.row -->
    </div>
    <!-- /.card -->

    <br />
    @using (Html.BeginForm("List", "Lead", FormMethod.Get))
    {
        <div class="card">
            <br />
            <div class="row">
                <div class="col-sm-4">
                    <p> <b>&nbsp;Filter Records</b> </p>
                </div>
                <div class="col-sm-6">
                    <p>
                        Name :
                        @Html.TextBox("searching")
                        <input type="submit" value="Search" class="btn-primary" />
                    </p>
                </div>
            </div>
        </div>
    }

    <!-- jQuery UI 1.11.4 -->
    <script src="~/template/plugins/jquery-ui/jquery-ui.min.js"></script>
    <!-- Resolve conflict in jQuery UI tooltip with Bootstrap tooltip -->
    <script>
        $.widget.bridge('uibutton', $.ui.button)
    </script>
    <!-- Tempusdominus Bootstrap 4 -->
    <script src="~/template/plugins/tempusdominus-bootstrap-4/js/tempusdominus-bootstrap-4.min.js"></script>
    <!-- overlayScrollbars -->
    <script src="~/template/plugins/overlayScrollbars/js/jquery.overlayScrollbars.min.js"></script>
    <!-- AdminLTE dashboard demo (This is only for demo purposes) -->
    <script src="~/template/dist/js/pages/dashboard.js"></script>
    <!-- bs-custom-file-input -->
    <script src="~/template/plugins/bs-custom-file-input/bs-custom-file-input.min.js"></script>

</body>