@model EcommerceProject.Models.Customer

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_masterlayout.cshtml";
}

<head>

    <title>Premier Mart | Customers</title>
    <!-- Tempusdominus Bootstrap 4 -->
    <link rel="stylesheet" href="~/template/plugins/tempusdominus-bootstrap-4/css/tempusdominus-bootstrap-4.min.css">
    <!-- iCheck -->
    <link rel="stylesheet" href="~/template/plugins/icheck-bootstrap/icheck-bootstrap.min.css">
    <!-- jsGrid -->
    <link rel="stylesheet" href="~/template/plugins/jsgrid/jsgrid.min.css">
    <link rel="stylesheet" href="~/template/plugins/jsgrid/jsgrid-theme.min.css">
    <!-- overlayScrollbars -->
    <link rel="stylesheet" href="~/template/plugins/overlayScrollbars/css/OverlayScrollbars.min.css">
    <!-- BS Stepper -->
    <link rel="stylesheet" href="~/template/plugins/bs-stepper/css/bs-stepper.min.css">

</head>

<body>
    <!-- Content Wrapper. Contains page content -->
    @*<div class="content-wrapper">*@
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-2">
                    <button onclick="location.href='@Url.Action("List","Customer")'" type="button" class="btn btn-block btn-danger">
                        <i class="fas fa-times" aria-hidden="true"></i> &nbsp;&nbsp;&nbsp;Cancel
                    </button>
                </div>
                <div class="col-sm-10">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="#">Customer</a></li>
                        <li class="breadcrumb-item active">Add Customer</li>
                    </ol>
                </div>
            </div>
        </div><!-- /.container-fluid -->
    </section>

    <!-- form start -->
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <!-- Main content -->
        <section class="content">
            <div class="container-fluid">
                <div class="row-mb-2">
                    <!-- general form elements -->
                    <div class="card">

                        <div class="card-header" style="background-color:thistle; color:white;">
                            <center><h4> Add Customer </h4></center>
                        </div>
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        <div class="card-body">
                            <div class="bs-stepper-header" role="tablist">
                                @*your steps here*@
                                <div class="step" data-target="#logins-part">
                                    <span class="bs-stepper-circle">1</span>
                                    <span class="bs-stepper-label">Customer Detail</span>
                                </div>
                            </div>
                            <hr />
                            <div class="row">
                                <div class="col-3">
                                    <div class="form-group">
                                        <label for="group">Customer Group</label>
                                        @Html.DropDownListFor(model => model.Customer_group_id, new SelectList(Model.CGroupSelect, "Customer_group_id", "Group_name"), "Please Select", new { @class = "form-control" })
                                        @Html.ValidationMessageFor(model => model.Customer_group_id, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                                <div class="col-1"></div>
                                <div class="col-3">
                                    <div class="form-group">
                                        <label for="fname">First Name</label>
                                        @Html.EditorFor(model => model.First_name, new { htmlAttributes = new { @class = "form-control" } })
                                        @Html.ValidationMessageFor(model => model.First_name, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                                <div class="col-1"></div>
                                <div class="col-3">
                                    <div class="form-group">
                                        <label for="lname">Last Name</label>
                                        @Html.EditorFor(model => model.Last_name, new { htmlAttributes = new { @class = "form-control" } })
                                        @Html.ValidationMessageFor(model => model.Last_name, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-4">
                                    <div class="form-group">
                                        <label for="email">Email</label>
                                        @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control" } })
                                        @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                                <div class="col-4"></div>
                                <div class="col-3">
                                    <div class="form-group">
                                        <label for="mobile">Telephone</label>
                                        @Html.EditorFor(model => model.Mobile, new { htmlAttributes = new { @class = "form-control" } })
                                        @Html.ValidationMessageFor(model => model.Mobile, "", new { @class = "text-danger" })
                                    </div>
                                </div>

                            </div>
                            </div>
                        @*/.card-body*@
                        </div>
                    @*/.card*@

                </div>

                <div class="row-mb-2">
                    <!-- general form elements -->
                    <div class="card">
                        <div class="card-body">
                            <div class="bs-stepper-header" role="tablist">
                                @*your steps here*@

                                <div class="step" data-target="#information-part">
                                    <span class="bs-stepper-circle">2</span>
                                    <span class="bs-stepper-label">More information</span>
                                </div>
                            </div>
                            <hr />
                            <div class="row">
                                <div class="col-4">
                                    <div class="form-group">
                                        <label for="user">UserName</label>
                                        @Html.EditorFor(model => model.Username, new { htmlAttributes = new { @class = "form-control" } })
                                        @Html.ValidationMessageFor(model => model.Username, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                                <div class="col-3">
                                    <div class="form-group">
                                        <label for="pass">Password</label>
                                        @Html.EditorFor(model => model.Password, new { htmlAttributes = new { @class = "form-control" } })
                                        @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
                                    </div>
                                </div>

                                <div class="col-4">
                                    <div class="form-group">
                                        <label for="add">Address</label>
                                        @Html.EditorFor(model => model.Address, new { htmlAttributes = new { @class = "form-control" } })
                                        @Html.ValidationMessageFor(model => model.Address, "", new { @class = "text-danger" })

                                    </div>
                                </div>
                                
                            </div>
                            @*row*@

                             <div class="row">
                            <div class="col-3">
                                <div class="form-group">
                                    <label for="status">Status</label>
                                    <br />
                                    @Html.DropDownListFor(model => model.Is_active, new SelectList(Model.StatusSelect, "Status_id", "Status_name"), "Select", new { @class = "form-control" })
                                </div>
                            </div>
                            <div class="col-1"></div>
                            <div class="col-3">
                                <div class="form-group">
                                    <label for="status">Mail Status</label>
                                    <br />
                                    @Html.CheckBox("Mail", false, new { htmlAttributes = new { @class = "form-control" } })                                   
                                </div>
                            </div>
                        </div>

                        </div>
                        @*card-body*@

                    <div class="card-footer">
                        <center>
                            <div class="col-3">
                                <input type="submit" value="Add" class="btn btn-block" style="background-color:thistle; color:white;" />
                            </div>
                        </center>
                    </div>

                    </div>
                    @*card*@
                </div>
                @*row*@


            </div>
        </section>
    }
    <!-- jQuery UI 1.11.4 -->
    <script src="~/template/plugins/jquery-ui/jquery-ui.min.js"></script>
    <!-- Resolve conflict in jQuery UI tooltip with Bootstrap tooltip -->
    <script>
        $.widget.bridge('uibutton', $.ui.button)
    </script>
    <!-- Tempusdominus Bootstrap 4 -->
    <script src="~/template/plugins/tempusdominus-bootstrap-4/js/tempusdominus-bootstrap-4.min.js"></script>
    <!-- overlayScrollbars -->
    <script src="~/template/plugins/overlayScrollbars/js/jquery.overlayScrollbars.min.js"></script>
    <!-- AdminLTE dashboard demo (This is only for demo purposes) -->
    <script src="~/template/dist/js/pages/dashboard.js"></script>
    <!-- bs-custom-file-input -->
    <script src="~/template/plugins/bs-custom-file-input/bs-custom-file-input.min.js"></script>
    <!-- BS-Stepper -->
    <script src="~/template/plugins/bs-stepper/js/bs-stepper.min.js"></script>
   
</body>